body {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.5s linear;
}

i {
  margin-right: 10px;
}

nav {
  display: flex;
  min-width: 660px;
  margin-bottom: 0px;
  border-bottom: 3px solid rgb(235, 144, 8);
  background-color: #ffd7a7;
}

.four ul {
  display: flex;
  background: #ffd7a7;
  padding-left: 0;
}

.four a {
  padding: 20px;
  display: block;
  color: #9b4222;
  border-right: 1px solid #ffab51;
  background: rgba(255, 171, 81, 0.3);
}

.four a:hover {
  background: #ffab51;
}

.right-text {
  color: white;
  text-align: right;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
}


.Mainconteiner {

  background-image: url("/img/321.jpg");
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 900px;
  color: white;
  background-color: rgba(1, 1, 1, 0.7);
  padding: 25px;

  .title {
    text-align: center;
  }

  .card {
    padding: 15px;
    text-align: center;

    &_img {

      width: 100%;
    }

    @media screen and (max-width:768px) {
      &_img {
        max-width: 300px;
      }
    }
  }
}