body {
  background-color: rgb(241, 240, 240);
  margin: 0px 50px;
}
.navigation {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}
.work {
  margin: 0 30px;
  color: black;
  font-family: "Quicksand", sans-serif;
  background-color: transparent;
}
.pic-text {
  color: black;
}
.image {
  position: relative;
  width: 100%;
}

h2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  top: 400px;
  left: 0;
  width: 60%;
  color: white;
  background-color: rgba(29, 29, 29, 0.6);
  padding: 30px;
  margin-left: 220px;
  font-family: "Dancing Script", cursive;
}
.effect.eff-6 .caption {
  opacity: 0;
}

.effect.eff-6 .caption h4,
.effect.eff-6 .caption a.btn {
  -o-transition: all 0.2s linear 0.1s;
  -webkit-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}

.effect.eff-6 .caption h4 {
  left: 100%;
}

.effect.eff-6 .caption a.btn {
  left: -100%;
}

.effect.eff-6:hover .caption {
  opacity: 1;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.effect.eff-6:hover .caption h4,
.effect.eff-6:hover .caption a.btn {
  left: 0;
}
